* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input {
  width: auto;
  color: #08060B;
  border: 1px solid #DEDEDF;
  padding: 1px;
  border-radius: 5px;
  font-size: calc(8px + 1vmin);
  font-weight: 600;
}

input[type=number] {
  width: 4ch;
  text-align: center;
}

input:focus {
  outline: none;
  border: 1px inset #005CC8;
}

button {
  background-color: #005CC8;
  border: 1px solid #005CC8;
  border-radius: 8px;
  width: 100%;
  font-weight: 600;
  font-size: calc(8px + 1vmin);
}

button:active {
  transform: scale(1.1);
  border-color: #0069CC;
  box-shadow: 0 0 1rem #0069CC;
}

.App {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 2%;
  flex-wrap: wrap;
}

.App-settings {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 1%;
}

/* .App-grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  color: #DEDEDF;
  width: 100vmin;
  height: 100vmin;
} */

.App-grid div {
  transition: all .3s ease-in;
}

@keyframes hover-effect {
  from {
    filter: hue-rotate(180deg);
  }
  to {
    filter: hue-rotate(0deg);
  }
}

/* .App-grid div:hover {
  background-color: #9A6AFF;
  animation: hover-effect 700ms ease-out;
  animation-fill-mode: backwards;
} */