* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input {
  margin-bottom: 10px;
  width: 100%;
  color: #08060B;
  border: 1px solid #DEDEDF;
  padding: 2px;
  border-radius: 6px;
}

input:focus {
  outline-width: 1px;
  outline-color: #61DAFB;
  outline-offset: 0.5px;
}

.App {
  display: flex;
  text-align: center;
  justify-content: center;
}

.App-header {
  background-color: #08060B;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-settings {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.App-grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  color: #DEDEDF;
  width: 100vmin;
  height: 100vmin;
}

.App-grid div {
  transition: all .4s ease-in;
}

@keyframes hover-effect {
  from {
    filter: hue-rotate(180deg);
  }
  to {
    filter: hue-rotate(0deg);
  }
}

/* .App-grid div:hover {
  background-color: #9A6AFF;
  animation: hover-effect 700ms ease-out;
  animation-fill-mode: backwards;
} */